[run]
omit =
    */migrations/*
    */management/*
    */admin.py
    */__init__.py
    */urls.py
    */settings.py
    */asgi.py
    */wsgi.py
    */manage.py
branch = True

[report]
show_missing = True
skip_covered = False
precision = 2
